.nav-tabs {
  float: left;
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid #00000040;
  margin: 0 0 10px;
  > li {
    float: left;
    margin-bottom: -1px;

    > a {
      margin-right: 2px;
      line-height: 1.5;
      padding: 10px;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      float: left;
      text-decoration: none;

      &:hover {
        border-color: #eee #eee #ddd;
      }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: solid 1px black;
      }
    }
  }
}

.tab-content{
   label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }

   input {
    margin-bottom: 20px;
  }

  p {
    font-size: 15px;
  }

  > .tab-pane {
    display: none;

    &.active {
      display: block;
      padding: 10px;
    }
  }
}